body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
}

/* buttons and drop-area on top */

#buttons {
  display: table;
  margin: 0 auto;
  overflow: hidden;
}

.button {
  display: none;
}

.button, #drop-area {
  float: left;
  width: 64px;
  height: 64px;
  margin: 5px;
  padding: 0px;
  border: 2px solid;
  border-radius: 5px;
}

#drop-area {
  background: url("drop-area.png");
}

#push-button {
  background: url("push-button.png");
}

#pop-button {
  background: url("pop-button.png");
}

#stack {
  display: inline-block;
  min-width: 356px;
  height: 200px;
  padding: 3px;
}

/* frames and placeholders */

div.stack-frame, div.stack-frame-placeholder {
  width: 336px;
  margin: 5px;
  border-radius: 5px;
  float: left;
}

div.stack-frame {
  min-height: 56px;
  border: 2px solid;
  position: relative;
}

div.stack-frame-placeholder {
  height: 56px;
  border: 2px solid #E8E8E8;
  background: #E8E8E8;
}

/* tabs and placeholders */

div.tab-favicon-container {
  float: left;
  position: relative;
  border: 2px solid #E8E8E8;
  border-radius: 8px;
  background-color: #E8E8E8;
  width: 48px;
  height: 48px;
  margin: 2px;
}

div.tab-favicon-container-placeholder {
  float: left;
  position: relative;
  border: 2px solid #E8E8E8;
  border-radius: 8px;
  background-color: #E8E8E8;
  width: 48px;
  height: 48px;
  margin: 2px;
}

img.tab-favicon-img {
  width: 100%;
  height: 100%;
}

/* close buttons for tabs and frames */

/* all buttons */
.tab-close-button, .tab-pop-button, .frame-close-button, .frame-pop-button {
  position: absolute;
  margin: 3px;
  width: 10px;
  height: 10px;
  border: 2px solid;
  border-radius: 4px;
}

/* red buttons */
.tab-close-button, .tab-pop-button {
  top: 0px;
}

.tab-close-button {
  right: 0px;
  background: url("tab-close-button.png");
  background-color: #FF6666;
}

.tab-pop-button {
  right: 16px;
  background: url("tab-pop-button.png");
  background-color: #FF6666;
}

/* orange buttons */
.frame-close-button, .frame-pop-button {
  top: -10px;
}

.frame-close-button {
  right: -10px;
  background: url("tab-close-button.png");
  background-color: #FF9933;
}

.frame-pop-button {
  right: 6px;
  background: url("tab-pop-button.png");
  background-color: #FF9933;
}

